/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
 */
.rounded-pill {
    width:40px;
}

* {
    /* font-family:'Noto Sans', sans-serif; */
    font-family: 'Anton', sans-serif;
    color: #393977;
}
/* menu */
.color-inicial {
    color: rgb(255, 255, 255);
}

nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #1b1b1b;
    height: auto;
}

nav::after{
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float:left;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 800;
    line-height: 70px;
    padding-left: 60px;
}

nav ul{
    float: left;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    display: inline-block;
    background: #1b1b1b;
    margin: 0 0.5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;

}

nav ul li a:hover {
    color: rgb(49, 111, 165);
} 

nav ul ul li a:hover{
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

nav ul li:hover > ul{
    top: 80px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgb(0,0,0,0.3);
}

nav ul ul ul a{
    line-height: 50px;
}

nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}

.show, .icon, input {
    display: none;
}


                /* carrousel */
.carousel-control-next-icon{
    background-color: #141230;
}
.carousel-control-prev-icon{
    background-color: #141230;
}

.carousel-indicators{
    margin-bottom: 30rem;
    background-color: rgba(59, 31, 31, 0.156);
}
#carouselExampleIndicators{
    margin: auto ;
    padding: 2%;
}
                /* SECCION/PLAN */


#plans-section {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.911) 0%, rgb(155, 218, 245) 100%);
    border-radius: 2cm;
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 2%;
    position: relative;
}

.plans-container {
    display: inline;
    width: 1700px;
    height: 600px;
}

#plan-description {
    font-size: 55px;
    padding-top: 30px;
    text-align: center;
}

.plan-cards {
   text-align: center;
}

.plan {
    margin: 59px 35px 0px 35px;
    padding-top: 0px;
    padding-bottom:13px;
    display: inline-block;
    border: 5px solid #e2e2e2ab;
    width: 280px;
    height: 420px;
    border-radius: 12px;
    transition: all 0.3s ease;
    
}

.plan:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
}

        /* DESCIPCION PLAN */

.plan h1 {
    font-size: 65px;
}

.plan h2 {
    font-size: 45px;
}

.plans-container h3 {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    margin-top: 25px;
}

.plan-gb {
    padding-bottom: 10px;
}

.plan-ul {
    text-align: left;
}

.plan-li {
    list-style-type: none;
    padding-left: 30px;
    font-family: 'Barlow', sans-serif;
}

        /* BOTON */

.button {
    background-color: #da4242e1;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    position: sticky;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 14px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }


.first-part {
    border-radius: 12px 12px 0 0 ;
    background: linear-gradient(0deg, rgba(153,195,213,0.9107843821122199) 0%, rgba(20,133,181,1) 100%);
}

.p-suelto {
    padding-top: 5px;
}

            /* INFORMACIONES */

#info-container {
    background: radial-gradient(circle, rgba(193,209,212,1) 0%, rgba(106,141,148,0.591456651019783) 100%);
    border-radius: 15px;
    padding: 30px;
    transition: all 0.3s ease;
    margin-left: 7%;
    margin-right: 7%;
}

#info-container:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 1);
}

#info-description {
    padding: 20px;
}

.bloqueTitulo {
    text-align: center;
    position: relative;
    display: block;
    padding: 2%;
    margin: auto;

 }
 

.textoDetalle{
    display: inline-block;
    margin-left: 3% ;
    padding: 0;
    width: 250px;
    height: 200px;
    text-align: justify;
 }
 
.bloqueh4 {
    font-size: 20px ;
    padding-bottom: 10px;
 }



.rancio{
    font-family: 'Barlow', sans-serif;
    color: black;
}
        
 /* BENEFICIOS */

.beneficios-titulo {
    margin-bottom: 70px;
    text-align: center;
}

#section-beneficios{
    margin: auto;
    border-radius: 20px;
    padding: 1%;
    

    
}


.beneficios-titulo h1 {
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.beneficios-titulo h3 {
    font-size: 20px;
}

.beneficios-carta {
    background: radial-gradient(circle, rgba(161,210,219,1) 5%, rgba(90,164,185,0.8043418050814075) 86%);   
    border-radius: 15px;
    width: 75%;
    height: 40%;
    margin: auto;
    position: relative;
    display: block;
    
}

.beneficios-carta h1 {
    text-align: center;
    padding-top: 40px;
    letter-spacing: 1px;
}

.beneficios-ul  {
    display: inline-block;
    padding-top: 50px;
    padding-left: 130px;
    font-size: 20px;
    line-height: 60px;

}

.beneficios-li{
    font-family: 'Barlow', sans-serif;
    color: black;
}

    /* PROMOCIONES CELULARES */

    /* Terminos y Condiciones */

    
        /* FOOTER */

.bloqueTextoFormulario1{
    text-align: center;
    padding: 5px;
    border: solid black 1px;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.bloqueTextoFormulario2{
    text-align: justify;
    padding: 5px;
    border: solid black 1px;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
}
#bloqueFormulario{
    background-color: #C3E3FD;
    /* background-color: rgba(28, 122, 55, 0.319); */
    margin: 2% auto;
    border-radius: 25px;
    width: 60%;
    padding: 2%;
    }

#validationTextarea{
    height: 149px;
}



.footer{
    width: 100%;
    background-color: #0a1a2a;
}

.footer .grupo1{
    width: 100%;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .grupo1 .caja figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo1 .caja figure img{
    width: 250px;
}

.footer .grupo1 .caja h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo1 .caja p{
    color: #efefef;
    margin-bottom: 10px;
}

.footer .grupo1 .redes a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.footer .grupo1 .redes a:hover{
    color: aqua;
}

.footer .grupo2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.footer .grupo2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    
    .footer .grupo1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    }
}
